.con {
  width: 100%;
  display: flex;
  flex-direction: column;

  .basic-info {
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 3px 0;
    font-size: 21px; 
    font-weight: 600;
    color: #4b7bec;
    border-bottom: 3px solid #4b7bec;

    .title {
      font-size: 16.5px; 
      font-weight: 600;
      color: #a5b1c2;
      letter-spacing: 1.5px;
      padding-left: 16.5px; 
      align-self: flex-end;
    }
  }
}


.skills {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;
    padding: 7.5px 0;  
 
    justify-content: space-between;
  
    .skill {
      font-size: 16.5px;  
      padding: 1.5px 0;  
      font-weight: 300; 
    }
  }
  